@media (min-width: 970px) {
    .container {
        width: 970px;
    }
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 250px;
}
.carousel-slider .slide-image{
    height: 682px;
}
.pagination{
    padding-left:15px;
}
.css-79elbk{
    position:initial !important
}
.thankyou{
    text-align: center;
    color: blueviolet;
}
.disabled{
    pointer-events: none;
}
.list-group-item{
    cursor: pointer;
}
.list-group-item.active>a, .list-group-item.active:focus, .list-group-item.active:hover{
    color: white !important
}
.error-msg{
    color:red;
}
.autocomplete{
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 55px;
}

.autocomplete div{
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}